* {
  font-family: 'Roboto',sans-serif;
}

header {
  position: relative;
}

nav {
  background-color: #212121;
  height: 50px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader_official {
  opacity: 0.5;
  font-size: 13px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.subheader_call {
  margin-top: 23px;
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  text-align: right;
}

.subheader_phone {
  display: block;
  margin-top: 8px;
  font-size: 22px;
  font-weight: 400;
  text-align: right;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 12px;
}

.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  min-height: 800px;
  background: url("../img/bg/main_bg.jpg") center center/cover no-repeat;
  padding: 150px 0 135px;
}

.promo_header {
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

.promo_subheader {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
}

.promo_descr {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-top: 23px;
}

.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.label {
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  width: 112px;
  height: 24px;
  line-height: 24px;
  background-color: black;
  color: white;
  text-align: center;
  margin: 0 auto;
}

.label_black {
  background-color: white;
  color: black;
}

.title {
  margin-bottom: 0;
  margin-top: 38px;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
}

.title_black {
  color: white;
}

.subtitle {
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  color: #222222;
  margin-top: 19px;
}

.subtitle_black {
  color: white;
}

.reasons {
  padding: 71px 0 65px;
}

.reasons_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.reasons_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1eacc7;
  width: 113px;
  height: 113px;
  border-radius: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
}

.reasons_textblock {
  width: 343px;
}

.reasons_header {
  font-size: 17px;
  font-weight: 400;
  color: #1eacc7;
  line-height: 21px;
}

.reasons_text {
  font-size: 15px;
  font-weight: 300;
  color: #202020;
  line-height: 21px;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/bg/mobile_bg.jpg") center center/cover no-repeat;
}

.mobile .row {
  margin-top: 32px;
}

.mobile_item {
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
  position: relative;
}

.mobile_item_1 {
  background: url("../img/mobile_app/1.jpg") center center/cover no-repeat;
}

.mobile_item_2 {
  background: url("../img/mobile_app/2.jpg") center center/cover no-repeat;
}

.mobile_item_3 {
  background: url("../img/mobile_app/3.jpg") center center/cover no-repeat;
}

.mobile_item_4 {
  background: url("../img/mobile_app/4.jpg") center center/cover no-repeat;
}

.mobile_item_5 {
  background: url("../img/mobile_app/5.jpg") center center/cover no-repeat;
}

.mobile_item_6 {
  background: url("../img/mobile_app/6.jpg") center center/cover no-repeat;
}

.mobile_item_subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50);
          transform: translateX(-50);
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
  padding: 6px;
  cursor: pointer;
}

.mobile_item_plus::before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.mobile_item_plus::after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1eacc7;
  background-color-transition: 0.2s;
}

.mobile_item_plus:hover::before, .mobile_item_plus:hover::after {
  background-color: pink;
}

.car_black {
  width: 100%;
  height: 499px;
  background-color: #070716;
  position: relative;
  padding-top: 56px;
}

.car_black img {
  display: block;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  margin-top: 56px;
  height: 480px;
  width: 759px;
}

.car_white {
  z-index: 1;
  background: url("../img/bg/car_low_bg.jpg") center center/cover no-repeat;
  width: 100%;
  height: 397px;
  position: relative;
}

.car_white_text {
  display: block;
  position: absolute;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  color: #222222;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-top: 217px;
}

.require {
  padding: 68px 0 84px 0;
}

.require_block {
  margin: 33px 0;
}

.require_block_nmb {
  margin-bottom: 0px;
}

.require_title {
  font-size: 22px;
  font-weight: 400;
  color: #1ca8c3;
}

.require_descr {
  color: #1ca8c3;
}

.require_list {
  margin-top: 22px;
  list-style-type: none;
  padding-left: 50px;
}

.require_list li {
  position: relative;
  line-height: 24px;
  font-weight: 300px;
  font-size: 17px;
  margin-bottom: 10px;
}

.require_list li::before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icons/ok.png") center center/cover no-repeat;
}

.require .warning .require_title {
  color: #ff5656;
}

.require .warning .require_list li::before {
  background: url("../icons/ok.png") center center/cover no-repeat;
}

.world {
  min-height: 717px;
  background: url("../img/bg/world.jpg") center center/cover no-repeat;
  padding: 49px 0 49px;
}

.world_descr {
  margin-top: 486px;
  font-size: 15px;
  text-align: center;
  color: #1fbad6;
  text-transform: uppercase;
}

.footer {
  padding: 14px 23px 39px 23px;
}

.footer a:hover {
  text-decoration: none;
}

.footer_divider {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}

.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 32px;
}

.footer_wrapper > div {
  width: 33%;
}

.footer_wrapper > div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer_round_logos {
  width: 153px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 29px;
}

.footer_round_logos_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
}

.footer_round_logos i {
  color: white;
}

.footer_menu {
  margin: 0 auto;
  width: 390px;
}

.footer_menu_upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

.footer_menu_upper a {
  font-size: 15px;
  font-weight: 300;
  color: #070716;
  text-transform: uppercase;
}

.footer_menu_lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.footer_menu_lower a {
  font-size: 11px;
  font-weight: 300;
  color: #999999;
  text-transform: uppercase;
}

.footer_big_logos {
  margin-top: 30px;
}

.footer_big_logos a img {
  height: 27px;
}

.footer_language {
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  color: #1fbad6;
  text-transform: uppercase;
  margin-top: 19px;
}
/*# sourceMappingURL=style.css.map */